:host {
    display: flex;
    flex: 1 1 auto;
    .container {
        padding-left: 14px;
        .title {
          margin-top: 8px;
        }
    }
    .tenant-info {
        margin: 12px 0 12px;
        flex-direction: row;
        display: flex;
        flex-flow: row wrap;
    }
    .divider {
        width: 1px;
        background: #dedede;
        margin-right: 16px;
        margin-left: 16px;
    }
    .inline-list {
      padding: 0;
      margin: 0;
      display: inline;
      list-style-type: none;
    }
  
    .inline-list li {
      list-style: none;
      display: inline;
    }
  
    .inline-list li:not(:last-child) > *::after {
      content: ',';
    }
}