:host ::ng-deep {
  [title] h1 {
    font-size: 1.25em;
    font-weight: 500;
  }

  [content] {
    p {
      padding: 0 0.5em;
      text-align: justify;

      + p {
        margin-top: 0;
      }
    }
  }
}
