:host {
    display: flex;
    flex: auto;
    flex-direction: column;
    vs-grid{
        height: 100%;
    }
    .title {
        display: flex;
        flex-direction: row;
        padding-left: 14px;
        gap: 8px;
    }
}
