:host {
    vs-layout {
        div[content] {
            div {
                vs-form {
                    .form_header {
                        display: flex;
                        flex-direction: row;
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}