<vs-layout>
    <vs-icon icon="circle-question" iconSize="large"></vs-icon>
    <vs-label title model="main_title" [label]="title"></vs-label>
    <div content>
        <ng-container *ngIf="infoType === connectionConst">
            <p>{{'licensings.connectionInfoOne' | translate}}</p>
            <p>{{'licensings.connectionInfoTwo' | translate}}</p>
        </ng-container>
        <ng-container *ngIf="infoType === accessConst">
            <p>{{'licensings.accessInfoOne' | translate}}</p>
            <p>{{'licensings.accessInfoTwo' | translate}}</p>
        </ng-container>
    </div>
    <div footer align-right>
        <vs-button type="save" (clickEvent)="cancel()" label="common.ok"></vs-button>
    </div>
</vs-layout>
