name: Build viasoft.licensing.licenseserver Service via Jenkins

env:
  SERVICE_NAME: "viasoft.licensing.licenseserver"

on:
  push:
    branches:
      - "master"
      - "release/**"
    paths:
      - "viasoft.licensing.licenseserver/**"

    tags:
      - "viasoft.licensing.licenseserver-*"

  pull_request:
    paths:
      - "viasoft.licensing.licenseserver/**"

  workflow_dispatch:

jobs:
  start-jenkins-scan:
    runs-on: self-hosted

    steps:
      - name: Print info
        run: echo "Changes detected in ${{ env.SERVICE_NAME }} — Triggering Jenkins Scan."

      - name: Scan Jenkins job
        run: |
          curl -X POST \
            -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}" \
            "${{ vars.JENKINS_BASE_URL }}job/${{ env.SERVICE_NAME }}/build"

  start-jenkins-build:
    runs-on: self-hosted

    steps:
      - name: Print info
        run: echo "Changes detected in ${{ env.SERVICE_NAME }} — Triggering Jenkins Build."

      - name: Build Jenkins job
        run: |
          curl -X POST \
            -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}" \
            "${{ vars.JENKINS_BASE_URL }}job/${{ env.SERVICE_NAME }}/job/${{ github.ref_name }}/build"